{% extends 'movies/index.html' %}
{% block title %} Авторизация {% endblock title %}

{% block movie %}
    <div class="left-ads-display col-lg-8">
        {% if form.errors %}
            <p id="error-message">Неверный логин либо пароль</p>
        {% endif %}
        <form id="login" method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <input type="hidden" name="parent" id="contactparent" value="">
            <h1 id="login-head">Авторизация пользователя</h1>
            <fieldset id="inputs">
                <input id="username" type="text" placeholder="Логин" name="username" autofocus required>
                <input id="password" type="password" placeholder="Пароль" name="password" required>
            </fieldset>
            <fieldset id="actions">
                <input type="submit" id="submit" value="ВОЙТИ">
                <a href="{% url 'signup' %}">Регистрация</a>
            </fieldset>
        </form>
    </div>
{% endblock movie %}