<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <title>{% block title %} {% endblock title %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href= {% static 'css/bootstrap.css' %}>
    <link rel="stylesheet" href={% static 'css/styles.css' %} type="text/css" media="all">
    <link href={% static 'css/font-awesome.css' %} rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/login_styles.css' %}">
    <link href="//fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900"
          rel="stylesheet">
</head>
<body>
<div id="page" class="page">
    {% include 'include/_header.html' %}
    {% block content %}
    {% endblock content %}
    {% include 'include/_footer.html' %}
</div>
<script src="{% static 'js/scripts.js' %}"></script>
</body>
</html>