{% extends 'movies/index.html' %}
{% block title %} Авторизация {% endblock title %}

{% block movie %}
    <div class="left-ads-display col-lg-8">
        <h2>Регистрация</h2>
        <form method="post" id="login">
            {% csrf_token %}
            {{ form.as_p }}
            <fieldset id="actions">
                <input type="submit" id="submit" value="Отправить">
            </fieldset>
        </form>
    </div>
{% endblock movie %}