{% extends 'movies/index.html' %}
{% block title %} Кинолист {% endblock title %}
{% block movie %}
    <div class="left-ads-display col-lg-9">
        <div class="row">
            {% for movie in object_list %}
                <div class="col-md-4 product-men">
                    <div class="product-shoe-info editContent text-center mt-lg-4">
                        <div class="men-thumb-item">
                            <img src="{{ movie.movie.poster.url }}" class="img-fluid" alt="" style="height: 20em">
                        </div>
                        <div class="item-info-product">
                            <h4 class="">
                                <a href="{{ movie.movie.get_absolute_url }}"
                                   class="editContent">{{ movie.movie.name }}</a>
                            </h4>

                            <div class="product_price">
                                <div class="grid-price">
                                    <span class="money editContent">«{{ movie.movie.tagline }}»</span>
                                </div>
                            </div>
                            {% if movie.awarage_rating %}
                            <div class="awarage-rating">
                                Средняя оценка: {{ movie.awarage_rating }}
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        {% if page_obj %}
        <div class="pagination" style="width: 100%; margin-top: 30px">
            <span class="step_links" style="margin-left: 20%">
                {% if page_obj.has_previous %}
                    <a href="?page=1">&laquo; первая</a>
                    <a href="?page={{ page_obj.previous_page_number }}">назад</a>
                {% endif %}
                <span class="current">
                    Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}
                </span>
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">вперед</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">последняя &raquo;</a>
                {% endif %}
            </span>
        </div>
        {% endif %}
    </div>
{% endblock movie %}
