{% extends 'movies/index.html' %}

{% block title %} {{ movie.name }} {% endblock title %}

{% block container %}
    <div class="container py-md-3">
{% endblock container %}

{% block sidebar %}
    <div class="side-bar col-lg-4">
{% endblock sidebar %}

{% block breadcrumbs %}
    <ol class="breadcrumb editContent">
        <li class="breadcrumb-item">
            <a href="/" class="editContent">Домашняя страница</a>
        </li>
        <li class="breadcrumb-item active editContent">{{ movie.name }}</li>
    </ol>
{% endblock breadcrumbs %}

{% block movie %}
    <div class="left-ads-display col-lg-8">
        <div class="row">
            <div class="desc1-left col-md-6">
                <img src="{{ movie.poster.url }}" class="img-fluid" alt="">
            </div>
            <div class="desc1-right col-md-6 pl-lg-4">
                <h3 class="editContent" style="outline: none; cursor: inherit;">
                    {{ movie.name }}
                </h3>
                <h5 class="editContent">{{ movie.name }}</h5>
                <ul>
                    <li style="list-style: none"><span><b>Год:</b> {{ movie.year }}</span></li>
                    <li style="list-style: none"><span><b>Страна:</b> {{ movie.country }}</span>
                    </li>
                    <li style="list-style: none"><span><b>Слоган:</b> {{ movie.tagline }}</span>
                    </li>
                    <li style="list-style: none">
                                    <span><b>Режиссер:</b>
                                        {% for director in  movie.directors.all %}
                                            <a href="{{ director.get_absolute_url }}" class="editContent">{{ director.name }}</a>
                                        {% endfor %}
                                    </span>
                    </li>
                    <li style="list-style: none">
                                    <span><b>Актеры:</b>
                                        {% for actor in  movie.actors.all %}
                                            <a href="{{ actor.get_absolute_url }}" class="editContent">{{ actor.name }}</a>
                                        {% endfor %}
                                    </span>
                    </li>
                    <li style="list-style: none">
                                    <span><b>Жанр:</b>
                                        {% for genre in  movie.genres.all %}
                                            {{ genre.name }}
                                        {% endfor %}
                                    </span>
                    </li>
                    <li style="list-style: none"><span><b>Премьера в мире:</b> {{ movie.world_premiere }}</span>
                    </li>
                    <li style="list-style: none">
                        <span><b>Бюджет:</b> {{ movie.budget }}</span></li>
                    <li style="list-style: none">
                        <span><b>Сборы в США:</b> {{ movie.fees_in_usa }}</span></li>
                    <li style="list-style: none"><span><b>Сборы в мире:</b> {{ movie.fess_in_world }}</span>
                    </li>
                    {% if user.is_authenticated %}
                        <li>
                            <form action="{% url 'add_rating' %}" method="post" name="rating">
                                <b>Ваша оценка:</b>
                                {% csrf_token %}
                                <input type="hidden" name="movie" value="{{ movie.id }}">
                                <input type="hidden" name="user" value="{{ user.id }}">
                                <span class="rating-area">
                                {% for star in stars %}
                                    {% if current_rating <= star.value %}
                                        <input id="rating{{ star.value }}" type="radio" name="value" checked="checked"
                                               value="{{ star.value }}">
                                    {% else %}
                                        <input id="rating{{ star.value }}" type="radio" name="value"
                                               value="{{ star.value }}">
                                    {% endif %}
                                    <label for="rating{{ star.value }}" class="star1 star"></label>
                                {% endfor %}
                            </span>
                            </form>
                        </li>
                    {% endif %}
                    {% if aw_rating %}
                        <li style="list-style: none"><span><b>Средняя оценка:</b> {{ aw_rating }}</span>
                    {% endif %}
                    </li>
            </div>
        </div>
        <div class="row sub-para-w3layouts mt-5">
            {% if movie.movieshots_set.all.count  != 0 %}
                <h3 class="shop-sing editContent" style="outline: none; cursor: inherit;">
                    Кадры из фильма</h3>
                <p>
                    {% for image in movie.movieshots_set.all %}
                        <img src="{{ image.image.url }}" class="img-movie-shots" alt="{{ image.description }}">
                    {% endfor %}
                </p>
            {% endif %}
            <h3 class="shop-sing editContent" style="outline: none; cursor: inherit;">
                О фильме {{ movie.name }}</h3>
            <p class="editContent" style="outline: none; cursor: inherit;">{{ movie.synopsis }}</p>
        </div>
        <hr>
        <div class="row">
            {% if user.is_authenticated %}
                <div class="single-form-left" style="width: 60%">
                    <div class="contact-single">
                        <h3 class="editContent" style="outline: none; cursor: inherit;">Оставить отзыв</h3>
                        <form action="{% url 'add_review' movie.id %}" method="post" class="mt-4">
                            {% csrf_token %}
                            <div class="form-group editContent">
                                <label for="contactcomment" class="editContent">
                                    Тип комментария
                                </label>
                                <select class="form-control border" name="type">
                                    {% for type in types %}
                                        <option value="{{ type.id }}">{{ type.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group editContent">
                                <label for="contactcomment" class="editContent">
                                    Ваш комментарий *
                                </label>
                                <textarea class="form-control border" rows="5" name="text"
                                          id="contactcomment" required=""></textarea>
                            </div>
                            <button type="submit"
                                    class="mt-3 btn btn-success btn-block py-3"
                                    style="outline: none; cursor: inherit;">Отправить
                            </button>
                        </form>
                    </div>
                </div>
            {% else %}
                <p style="color: red">Оставлять комментарии могут только авторизованные пользователи</p>
            {% endif %}
        </div>
        {% for review in movie.reviews_set.all %}
            <div class="media py-5">
                <div class="media-body mt-4" style="background-color: {{ review.type.color }}">
                    <h5 class="mt-0 editContent">
                        {{ review.user.username }}
                    </h5>
                    <p class="mt-2 editContent">
                        {{ review.text }}
                    </p>
                </div>
            </div>
        {% endfor %}
    </div>
    </div>
{% endblock movie %}
