{% extends 'movies/index.html' %}

{% block title %} {{ person.name }} {% endblock title %}

{% block container %}
    <div class="container py-md-3">
{% endblock container %}

{% block sidebar %}
    <div class="side-bar col-lg-4">
{% endblock sidebar %}

{% block movie %}
    <div class="left-ads-display col-lg-8">
        <div class="row">
            <div class="desc1-left col-md-6">
                <img src="{{ person.image.url }}" class="img-fluid" alt="">
            </div>
            <div class="desc1-right col-md-6 pl-lg-4">
                <h3 class="editContent" style="outline: none; cursor: inherit;">
                    {{ person.name }}
                </h3>
                <h5 class="editContent">{{ person.name }}</h5>
                <ul>
                    <li style="list-style: none"><span><b>Дата рождения:</b> {{ person.birthdate }}</span></li>
                                        {% if person.film_director.all %}
                    <li style="list-style: none">
                        <span><b>Режиссер:</b>
                            {% for movie in  person.film_director.all %}
                                <a href="{{ movie.get_absolute_url }}" class="editContent">{{ movie.name }}</a>
                            {% endfor %}
                        </span>
                    </li>
                    {% endif %}
                    {% if person.film_actor.all %}
                    <li style="list-style: none">
                        <span><b>Актер:</b>
                            {% for movie in  person.film_actor.all %}
                                <a href="{{ movie.get_absolute_url }}" class="editContent">{{ movie.name }}</a>
                            {% endfor %}
                        </span>
                    </li>
                    {% endif %}
            </div>
        </div>
        <div>
            <h3 class="shop-sing editContent" style="outline: none; cursor: inherit;">
                Краткая биография</h3>
            <p class="editContent" style="outline: none; cursor: inherit;">{{ person.biography }}</p>
        </div>
        <hr>
    </div>
    </div>
{% endblock movie %}
