{% load movie_tag %}
{% load static %}
<div class="main-banner bg bg1" id="home"
     style="background-color: rgba(0, 0, 0, 0); margin-top: 0px; background-image: url({% static 'images/fon.jpg' %});">
    <header class="header">
        <div class="container-fluid px-lg-5">
            <!-- nav -->
            <nav class="py-4">
                <div id="logo">
                    <h1><a href="/" class="editContent"
                           style="outline: none; outline-offset: -2px; cursor: inherit; color: rgb(255, 255, 255); font-size: 40px; background-color: rgba(0, 0, 0, 0); font-family: sans-serif;">Кинолист</a>
                    </h1>
                </div>
                <label for="drop" class="toggle">Menu</label>
                <input type="checkbox" id="drop">
                <ul class="menu mt-2">
                    <li class="active"><a href="/">Главная</a></li>
                    <li>
                        {% if user.is_authenticated %}
                            <a href="{% url 'logout' %}"
                               style="color: rgb(255, 255, 255); font-weight: 700; text-transform: uppercase;">
                                Выход({{ user.username }})
                            </a>
                        {% else %}
                            <a href="{% url 'login' %}"
                               style="color: rgb(255, 255, 255); font-weight: 700; text-transform: uppercase;">
                                Вход
                            </a>
                        {% endif %}
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    <div class="banner-info">
        <h3 class="mb-4 editContent">Все о кино</h3>
        <div class="ban-buttons">
        </div>
    </div>
</div>

