{% load movie_tag %}
<div class="search-bar w3layouts-newsletter">
    <h3 class="sear-head editContent" style="outline: none; cursor: inherit;">
        Поиск фильма</h3>
    <form action="{% url 'search' %}" method="get" class="d-flex editContent"
          style="outline: none; cursor: inherit;" name="filter">
        <input type="search" placeholder="Введите название..." name="q" class="form-control" required="">
        <button type="submit" class="btn1 btn" style="outline: none; cursor: inherit;">
            <span
                class="fa fa-search" aria-hidden="true"
                style="outline: none; cursor: inherit;"></span>
        </button>
    </form>
</div>
<form action="{% url 'filter' %}" method="get">
    <div class="left-side my-4">
        <h3 class="sear-head editContent" style="outline: none; cursor: inherit;">
            Жанры</h3>
        <ul class="w3layouts-box-list">
            {% for genre in view.get_genres %}
                <li class="editContent" style="outline: none; cursor: inherit;">
                    <input type="checkbox" class="checked" name="genre" value="{{ genre.id }}">
                    <span class="span editContent"
                          style="outline: none; cursor: inherit;">{{ genre.name }}</span>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="left-side">
        <h3 class="sear-head editContent" style="outline: none; cursor: inherit;">
            Год</h3>
        <ul class="w3layouts-box-list">
            {% for year in view.get_years %}
                <li class="editContent" style="outline: none; cursor: inherit;">
                    <input type="checkbox" class="checked" name="year" value="{{ year.year }}">
                    <span class="span editContent"
                          style="outline: none; cursor: inherit;">{{ year.year }}</span>
                </li>
            {% endfor %}
        </ul>
    </div>
    <button type="submit">Найти</button>
</form>
{% get_last_movies %}
